<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="urf-8">
    <title></title>
    
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h2 align="center">แก้ไขข้อมูล</h2>
      <%- messages() %>

      <% if(locals.errors) { %>
      <ul class="alert alert-danger">
          <% Object.values(errors).forEach(function (error) { %>
            <li><%= error.msg %></li>
            <% }) %>
      </ul>
      <% } %>
      <form action="/blog/edit/<%= id %>" method="post">
          <div class="from-group">
            <label for="">ชื่อ-นามสกุล</label> 
            <input type="text" name="name" value="<%= name%>" class="form-control">
          </div>
          <div class="from-group">
            <label for="">วัคซีนเข็มที่เท่าไหร่</label>
            <select name="num_vaccine" id="" value="<%= num_vaccine%>"class="form-control"> 
              <option value="เข็มที่ 1">เข็มที่ 1</option>
              <option value="เข็มที่ 2">เข็มที่ 2</option>
              <option value="เข็มที่ 3">เข็มที่ 3</option>
              <option value="เข็มที่ 4">เข็มที่ 4</option>
              <option value="เข็มที่ 5">เข็มที่ 5</option>
              <option value="เข็มที่ 6">เข็มที่ 6</option>
              <option value="เข็มที่ 7">เข็มที่ 7</option>
              <option value="เข็มที่ 8">เข็มที่ 8</option>
            </select>
          </div>
          <div class="from-group">
            <label for="">เลือกวัคซีน</label>
            <select name="name_vaccine" value="<%= name_vaccine%>" class="form-control"> 
              <option value="Moderna">Moderna</option>
              <option value="Pfizer">Pfizer</option>
              <option value="AstraZeneca">AstraZeneca</option>
              <option value="Sinovac">Sinovac</option>
              <option value="Sinopharm">Sinopharm</option>
              <option value="Johnson&Johnson">Johnson&Johnson</option>
              <option value="Novavax">Novavax</option>

            </select>
          </div>
          <div class="from-group">
            <label for="">อาการหลังฉีด</label> 
            <input type="text" name="detail" value="<%= detail%>" class="form-control">
          </div>
          
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="อัพเดท">
        </div>

      </form>
    </div>
    <script>
        $(function(){
            $('#messages').addClass('alert alert-success');
        })
        CKEDITOR.replace( 'description' );
    </script>
    
  </body>
</html>